.users-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .arrow {
        &.active {
            cursor: pointer;
            background-color: lightcoral;
        }
    }
}