.createReport-container{
    .input-container{
        label{
            margin: 10px 0;
            display: inline-block;
        }
    }

    .organizatorsList-container{
        details{
            padding: 10px;

        }
    }
}