$border-radius: 50px;

$primary-color: #0057FF;
$secondary-color: #8C8C8C;
$danger-color: #FF6363;
$success-color: #2ED47A;

$base-color: #FFFFFF;
$modest-color: #EFF0F6;

$modest-color-font: #4C5862;
