$border-radius: 8px;

$primary-color: #0057FF;
$secondary-color: #EFF0F6;
$danger-color: #FF6363;
$success-color: #12E300;

$base-color: #FFFFFF;
$modest-color: #EFF0F6;

$font-color-modest: #D9D9D9;
