.calendar-div {
    width: 70vw;
    // border: 1px solid red;
    margin: 30px auto 0px auto;
}

// table {
//     box-shadow: 3px 3px 10px gray;
//     padding: 30px;
//     border-radius: 20px;
// }

.weekday-head {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px gray;
}


.week-day {
    width: 10vw;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    font-family: 'Oswald';   
}

.calendar-day {
    height: 10vh;
    width: 10vw;
    max-width: 10vw;
    resize: none;
    font-family: 'Oswald';
    font-size: 1.1rem;
    border: 1px solid #ddd;
}


table {
    border-collapse: collapse;
}
