.calendar-div {
    width: 70vw;
    margin: 30px auto 0px auto;
}

.weekday-head {
    background-color: white;
}

.weekday-head

.week-day {
    width: 10vw;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    font-family: 'Oswald';   
}

.calendar-day {
    height: 10vh;
    width: 10vw;
    padding: 5px;
    max-width: 10vw;
    resize: none;
    font-family: 'Oswald';
    font-size: 1.1rem;
    border: 1px solid #ddd;
}

.empty {
    border: 0px;
}

.event-div {
    height: 30px;
    white-space: nowrap;
    overflow: hidden; 
    color: white;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    transform: scale(1);
}
    
// .tip-div {
//     height: 30px;
//     padding: 5px;
//     overflow: hidden;
//     position: absolute;
//     background-color: white;
//     top: -40px;
//     color: #006AB3;
//     align-self: center;
//     opacity: 0;
//     transition: .3s;
//     border-radius: 15px;
//     box-shadow: 3px 3px 10px #ddd;
//     display: flex;
//     flex-direction: column;

//     &__name {
//         font-size: 20px;
//         text-align: center;
//         margin-bottom: 0px;
//     }

//     &:hover {
//         width: 200px;
//         height: 200px;
//         opacity: 1;
//         z-index: 5;
//         transition: .3s;
//     }
// }

.plus-button {
    background-color: #006AB3;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: 'absolute';
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    box-shadow: 3px 3px 3px #ddd;
    opacity: 0;
    transition: ease-out 0.3s;    
    right: 5px
}

.calendar-day:hover .plus-button {
    opacity: 1;
    transition: ease-out 0.3s;
}

table {
    border-collapse: collapse;
    margin-bottom: 100px;
    margin-top: 40px;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}