.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .formContainer {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        margin-top: 20px;
    }

    .logo {
        width: 100px;
        resize: both;
        margin-top: 180px;
        align-self: center;
        padding: 30px;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 280px;
        margin: 10px;
    }

    .button {
        width: 280px;
        align-self: center;
        background-color: #006AB3;
        color: white;
        font-weight: 600;

        :hover {
            color: #006AB3;
        }
    }
}