@import "src/styles/variables";

.group-container {
    margin: 10px 0;

    .group-info-container {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-content {
            display: flex;
            flex-direction: column;

            h3 {
                margin-bottom: 10px;
            }
        }
    }

    .events-container {
        margin-left: 50px;
    }

    details {
        summary {
            position: relative;
            cursor: pointer;
            padding: 20px 30px;
            border: 1px solid $secondary-color;
            border-radius: $border-radius;
        }
    }
}