main {
    margin-top: 50px;

    .eventsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;

        > * {
            width: 23%;
        }
    }
}