.user-div {
    width: 800px;
    box-shadow: 3px 3px 10px #ddd;
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        font-family: 'Oswald';
        font-size: 20px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px;
        width: 120px;
    }

    .button {
        font-family: 'Oswald';
        color: white;
        height: 30px;
        
        &.red {
            background-color: red;
        }

        &.blue {
            background-color: #006AB3;
        }
    }
}